{% include 'include.html' %}
{% load staticfiles %}<br>
<h1 align="center" style="font-weight: bold;color: brown" >View Aprt_no {{ data.aprt_no }} Details </h1><br>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">APRT_NAME:</th>
      <th scope="col">{{ data.aprt_name }}</th>
      <th scope="col">APRT_NO:</th>
      <th scope="col">{{ data.aprt_no }}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">SURVEY_NO</th>
      <td>{{ data.survey_no }}</td>
      <th scope="row">APRT_ADDRES</th>
      <td>{{ data.aprt_add }}</td>
    </tr>
    <tr>
      <th scope="row">BHK</th>
      <td>{{ data.bhk }}</td>
      <th scope="row">COST PER ONE BHK</th>
      <td>{{ data.cost_per_bhk }}</td>
    </tr>
    <tr>
      <th scope="row">OTHER EXPENCES</th>
      <td>{{ data.other_expences }}</td>
      <th scope="row">TOTAL COST</th>
      <td>{{ data.total_cost }}</td>
    </tr>
      <tr>
      <th scope="row">FACing</th>
      <td>{{ data.facing }}</td>
      <th scope="row"> STATUS</th>
      <td>{{ data.status }}</td>
    </tr>
      <tr>
      <th scope="row">POSTED DATE</th>
      <td>{{ data.posted_date }}</td>
      <th scope="row">APRT_IMG</th>
      <td><img src="{{ data.aprt_img }}" height="100" width="50" ></td>
    </tr>
  </tbody>
</table>