{% include 'include.html' %}
{% load staticfiles %}
<h1 style="font-weight: bold;color: #32508E;" align="center">Edit_plot</h1><br>
<form action="{% url 'save_plot_details' %}" method="post">
    {% csrf_token %}

<table align="center">
    <tr>
        <td width="400" rowspan="11"></td>
        <td width="800"><div class="col-md-4 mb-3">
      <input type="number" class="form-control"  placeholder="Plot_no"  required width="100" name="plot_no">
    </div>
 </td>
    </tr>
        <tr>
        <td><div class="col-md-4 mb-3">
      <input type="number" class="form-control"  placeholder="Road_no"  required width="100" name="road_no">
    </div>
 </td>
    </tr>
    <tr>
        <td><div class="col-md-4 mb-3">
      <input type="text" class="form-control"  placeholder="Survey_no"  required width="100" name="survey_no">
    </div>
 </td>
    </tr>
    <tr>
        <td><div class="col-md-4 mb-3">
      <input type="number" class="form-control"  placeholder="Sq_Yards"  required width="100" name="sq_yards">
    </div>
 </td>
    </tr>
    <tr>
        <td><div class="col-md-4 mb-3">
      <input type="number" class="form-control"  placeholder="Cost_per_sq_Yard"  required width="100" name="cost_per_sq_yard">
    </div>
 </td>
    </tr>
        <tr>
        <td><div class="col-md-4 mb-3">
      <input type="number" class="form-control"  placeholder="Other_Expansis"  required width="100" name="other_expansis">
    </div>
 </td>
    </tr>
    <tr>
        <td><div class="col-md-4 mb-3">
      <input type="text" class="form-control"  placeholder="Boundaries"  required width="100" name="boundaries">
    </div>
 </td>
    </tr>
    <tr>
        <td><div class="col-md-4 mb-3">
      <input type="text" class="form-control"  placeholder="Facing"  required width="100" name="facing">
    </div>
        </td></tr>
        <tr>
        <td><div class="col-md-4 mb-3">
      <input type="number" class="form-control"  placeholder="Total"  required width="100" name="total">
    </div>
        </td></tr>
    <tr>
        <td><div class="col-md-4 mb-3">
      <input type="file" class="form-control"    required formenctype="multipart/form-data" name="img">
    </div>
        </td></tr>
<tr>

    <td align="left">
        <button type="submit" class="btn btn-success">Submit</button>

    </td>
</tr>



</table>
    </form>
{% if msg %}
<h2 align="center" style="color: #DD4B39">{{ msg }}</h2>
{% endif %}