{% include 'include.html' %}
{% load staticfiles %}<br>
<h1 align="center" style="font-weight: bold;color: brown" >View All Apportments List </h1><br>
{% if data %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">APRT_NAME</th>
              <th scope="col">APRT_NO</th>

      <th scope="col">BHK</th>
      <th scope="col">TOTAL_AMOUNT</th>
      <th scope="col">STATUS</th>
              <th scope="col">FOR MORE_DETAILS</th>

    </tr>
  </thead>
  <tbody>
  {% for aprt in data %}
    <tr>
      <th scope="row">{{ aprt.aprt_name }}</th>
      <td>{{ aprt.aprt_no}}</td>
      <td>{{ aprt.bhk }}</td>
        <td>{{ aprt.total_cost }}</td>
      <td>{{ aprt.status }}</td>
          <td><a href="{% url 'aprt_details' %}?aprt_no={{aprt.aprt_no}}"><button type="button" class="btn btn-info"> Click Here</button>
</a> </td>  </tr>
  {% endfor %}

  </tbody>
</table>
    {% else %}
    <h1 align="center">No Data Found</h1>
{% endif %}